<h1 style="font-size:20px;"><strong>
Activity 1: PALMER PENGUINS DATA ANALYTICS PROJECT
</h1>

<strong>Analyst: Kristel Imari H. Calado

In [24]:
import numpy as np 
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [25]:
data = pd.read_csv('penguins.csv')
data

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

<h1 style="font-size:20px;"><strong>Descriptive Analytics<strong></h1>

In [26]:
data.describe()

,rowid,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,344.000000,342.000000,342.000000,342.000000,342.000000,344.000000
mean,172.500000,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,99.448479,5.459584,1.974793,14.061714,801.954536,0.818356
min,1.000000,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,86.750000,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,172.500000,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,258.250000,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,344.000000,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [27]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
rowid,344.0,172.500000,99.448479,1.0,86.750,172.50,258.25,344.0
bill_length_mm,342.0,43.921930,5.459584,32.1,39.225,44.45,48.50,59.6
bill_depth_mm,342.0,17.151170,1.974793,13.1,15.600,17.30,18.70,21.5
flipper_length_mm,342.0,200.915205,14.061714,172.0,190.000,197.00,213.00,231.0
body_mass_g,342.0,4201.754386,801.954536,2700.0,3550.000,4050.00,4750.00,6300.0
year,344.0,2008.029070,0.818356,2007.0,2007.000,2008.00,2009.00,2009.0

<strong> Questions: <strong>

1. How many missing values are in each column?
2. Which column has the highest number of missing values?
3. What is the average body of mass penguins grouped by species?
4. What is the average flipper length grouped by island?
5. What is the correlation between bill length and flipper length?
6. What is the correlation between bill length and body mass for Adelie penguins?
7. Compare the average bill depth between male and female penguins
8. Which species has the highest number of missing values in the sex column?
9. Compare bill length vs bill depth correlation in Adelie vs Chinstrap
10. Is bill depth vs flipper length correlation higher in Gentoo or Chinstrap?
11. Do Gentoo penguins have a positive or negative correlation between flipper length and body mass?
12. What is the average flipper length and body mass for each species on each island?

<h1 style="font-size:20px;"><strong>1. How many missing values are in each column?<strong></h1>

In [28]:
data.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

<strong>Insight: Most columns have few or no missing values, but sex has the most missing data.

<h1 style="font-size:20px;"><strong>2. Which column has the highest number of missing values?</h1>

In [29]:
data.isnull().sum().sort_values(ascending=False).head()

sex                  11
body_mass_g           2
bill_depth_mm         2
flipper_length_mm     2
bill_length_mm        2
dtype: int64

<strong>Insight: Sex column is the one with the highest number of missing values

<h1 style="font-size:20px;"><strong>3. What is the average body of mass penguins grouped by species?</h1>

In [30]:
data.groupby('species')['body_mass_g'].mean()

species
Adelie       3700.662252
Chinstrap    3733.088235
Gentoo       5076.016260
Name: body_mass_g, dtype: float64

<strong>Insight: Gentoo penguins are the heaviest on average, while Adelie and Chinstrap are lighter

<h1 style="font-size:20px;"><strong> 4. What is the average flipper length grouped by island? </h1>

In [31]:
data.groupby('island')['flipper_length_mm'].mean()

island
Biscoe       209.706587
Dream        193.072581
Torgersen    191.196078
Name: flipper_length_mm, dtype: float64

<strong> Insight: Flipper length is longest on Biscoe, medium on Dream, and shortest on Torgersen

<h1 style="font-size:20px;"><strong>5. What is the correlation between bill length and flipper length?</h1>

In [32]:
data['bill_length_mm'].corr(data['flipper_length_mm'])

np.float64(0.6561813407464278)

<strong>Insight: Bill length and flipper length have a slight positive correlation.

<h1 style="font-size:20px;"><strong><h1 style="font-size:20px;"><strong>6. What is the correlation between bill length and body mass for Adelie penguins?</h1></h1>

In [33]:
adelie = data[data['species'] == 'Adelie']
adelie['bill_length_mm'].corr(adelie['body_mass_g'])

np.float64(0.5488658064533206)

<strong>Insight; For Adelie penguins, bill length barely correlates with body mass.

<h1 style="font-size:20px;"><strong>7. Compare the average bill depth between male and female penguins<strong></h1>

In [34]:
data.groupby('sex')['bill_depth_mm'].mean()

sex
female    16.425455
male      17.891071
Name: bill_depth_mm, dtype: float64

<strong>Insight: Male penguins tend to have slightly deeper bills than females.

<h1 style="font-size:20px;"><strong>8. Which species has the highest number of missing values in the sex column?<strong></h1>

In [35]:
data[data['sex'].isnull()].groupby('species').size().sort_values(ascending=False)

species
Adelie    6
Gentoo    5
dtype: int64

<strong>Insight: Adelie  have the most missing values in the sex column.

<h1 style="font-size:20px;"><strong>9. Compare bill length vs bill depth correlation in Adelie vs Chinstrap <strong></h1>

In [36]:
adelie = data[data['species'] == 'Adelie']
chinstrap = data[data['species'] == 'Chinstrap']

adelie_corr    = adelie['bill_length_mm'].corr(adelie['bill_depth_mm'])
chinstrap_corr = chinstrap['bill_length_mm'].corr(chinstrap['bill_depth_mm'])

adelie_corr, chinstrap_corr

(np.float64(0.39149169183587657), np.float64(0.6535362081800429))

<strong>Insight: Chinstrap penguins show a stronger positive correlation between bill length and depth than Adelie.

 <h1 style="font-size:20px;"><strong>10. Is bill depth vs flipper length correlation higher in Gentoo or Chinstrap?<strong></h1>

In [37]:
gentoo_corr = data[data['species'] == 'Gentoo']['bill_depth_mm'].corr(data[data['species'] == 'Gentoo']['flipper_length_mm'])
chinstrap_corr = data[data['species'] == 'Chinstrap']['bill_depth_mm'].corr(data[data['species'] == 'Chinstrap']['flipper_length_mm'])
gentoo_corr, chinstrap_corr

(np.float64(0.7065634484678054), np.float64(0.5801428793349277))

<strong>Insight: Bill depth vs flipper length correlation is higher in Gentoo than in Chinstrap.

 <h1 style="font-size:20px;"><strong>11. Do Gentoo penguins have a positive or negative correlation between flipper length and body mass? <strong></h1>

In [38]:
gentoo = data[data['species'] == 'Gentoo']
gentoo['flipper_length_mm'].corr(gentoo['body_mass_g'])

np.float64(0.7026665243575183)

<strong>Insight: Gentoo penguins show a strong positive correlation between flipper length and body mass.

 <h1 style="font-size:20px;"><strong>What is the average flipper length and body mass for each species on each island?<strong></h1>

In [39]:
data.groupby(['island', 'species'])[['flipper_length_mm', 'body_mass_g']].mean()

                     flipper_length_mm  body_mass_g
island    species
Biscoe    Adelie            188.795455  3709.659091
          Gentoo            217.186992  5076.016260
Dream     Adelie            189.732143  3688.392857
          Chinstrap         195.823529  3733.088235
Torgersen Adelie            191.196078  3706.372549

<strong>Insight: Flipper length and body weight are different for each species and island. Gentoo always have longer flippers and are heavier.